<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th.src="@{/js/SearchName.js}"></script>
</head>

<body>
<div class="container">
<h2>Add Transaction</h2>

<!--/*@thymesVar id="transaction" type="webapp.sharetransactions.Bean.Transaction"*/-->
<form action="#" th:action="@{/}" th:object="${transaction}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><label>
                <!--/*@thymesVar id="name" type="webapp.sharetransactions.Bean.Transaction"*/-->
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." th:field="${transaction.name}" />
                <ul id="myUL">
                    <li><a href="#">Adele</a></li>
                    <li><a href="#">Agnes</a></li>

                    <li><a href="#">Billy</a></li>
                    <li><a href="#">Bob</a></li>

                    <li><a href="#">Calvin</a></li>
                    <li><a href="#">Christina</a></li>
                    <li><a href="#">Cindy</a></li>
                </ul>
            </label></td>
            <!--/*@thymesVar id="name" type="webapp.sharetransactions.Bean.Transaction"*/-->
            <td th:if="${#fields.hasErrors('name')}" th:errors="${transaction.name}">Name Error</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><label>
                <input type="text" th:field="${transaction.price}" />
            </label></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="${transaction.price}">Age Error</td>
        </tr>
        <tr>
            <td>Number of shares:</td>
            <td><label>
                <input type="text" th:field="${transaction.numberOfShares}" />
            </label></td>
            <td th:if="${#fields.hasErrors('numberOfShares')}" th:errors="${transaction.numberOfShares}">Number of shares Error</td>
        </tr>
        <tr>
            <td>Buy date:</td>
            <td><label>
                <input type="text" th:field="${transaction.buyDate}" />
            </label></td>
            <td th:if="${#fields.hasErrors('buyDate')}" th:errors="${transaction.buyDate}">Buy date Error</td>
        </tr>
        <tr>
            <td>Sell date:</td>
            <td><label>
                <input type="text" th:field="${transaction.sellDate}" />
            </label></td>
            <td th:if="${#fields.hasErrors('sellDate')}" th:errors="${transaction.sellDate}">Sell date Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</div>

</body>
</html>