<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Profit/Loss</title>

    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />

    <script type="text/javascript" th:src="@{/js/autocomplete.js}" src="/js/autocomplete.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

</head>
<body>

<div class="container">

    <h1>Profit/Loss</h1>



    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Number of Shares</th>
            <th>Buy Date</th>
            <th>Sell Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transactionDTO : ${transactionList}">
            <td th:text="${transactionDTO.name}"></td>
            <td th:text="${transactionDTO.price}"></td>
            <td th:text="${transactionDTO.numberOfShares}"></td>
            <td th:text="${transactionDTO.buyDate}"></td>
            <td th:text="${transactionDTO.sellDate}"></td>
            <td>
                <a href="/transactionEdit/" th:href="@{/transactionEdit/__${transactionDTO.id}__}">Edit</a>
                <a href="/transactionDelete/" th:href="@{/transactionDelete/__${transactionDTO.id}__}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>



    <p>
        <a href="/transactionEdit" th:href="@{/transactionEdit}">Add</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Buy Date</th>
            <th>Buy Price</th>
            <th>Number of Shares</th>
            <th>Initial Value</th>
            <th>Sell Date</th>
            <th>Sell Price</th>
            <th>Final Value</th>
            <th>Profit/Loss (%)</th>
        </tr>
        </thead>
        <thead>
        <tr th:each="tableData : ${tableDataList}">
            <td th:text="${tableData.name}"></td>
            <td th:text="${tableData.buyDate}"></td>
            <td th:text="${tableData.price}"></td>
            <td th:text="${tableData.numberOfShares}"></td>
            <td th:text="${tableData.initialValue}"></td>
            <td th:text="${tableData.sellDate}"></td>
            <td th:text="${tableData.sellPrice}"></td>
            <td th:text="${tableData.finalValue}"></td>
            <td th:text="${tableData.profitLoss}">/%</td>

        </tr>

        </thead>

    </table>

    <canvas id="myCharti" width="400" height="400"></canvas>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var ctx = document.getElementById("myCharti");
        var dates = /*[[${chartPeriod}]]*/ 'Dates';
        var lines = /*[[${chartDataList}]]*/ 'Data';
        var my2Chart = new Chart(ctx,{
            type:'line',
            data:{
                labels:dates,
                datasets:lines
            },
            options:{}});
        /*]]>*/
    </script>
</div>
</body>
</html>