<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add/Edit Transaction</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/autocomplete.js}" src="js/autocomplete.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
<div class="container">

    <h1>Transactions</h1>

    <form class="form-group" action="/transactionEdit" th:action="@{/transactionEdit}" method="post">
        <div class="form-group">
            <tr><td><input th:type="hidden" name="id" th:field="${transactionDTO.id}" /></td></tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" class="form-control" id="name" placeholder="Enter name (KGHM, Bitcoin/zloty, CD Projekt)" th:field="${transactionDTO.name}" /></td>
            </tr>
        </div>
        <div class="form-group" th:object="(${transactionDTO})" th:remove="tag">
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="text" class="form-control" id="price" min="0" placeholder="Enter price (XX.XX)" th:field="${transactionDTO.price}" /></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="${transactionDTO.price}">Price Error</td>
            </tr>
        </div>
        <div class="form-group" th:object="(${transactionDTO})" th:remove="tag">
            <tr>
                <td><label for="numberOfShares">Number of Shares</label></td>
                <td><input type="text" class="form-control" id="numberOfShares" min="0" th:field="${transactionDTO.numberOfShares}" /></td>
                <td th:if="${#fields.hasErrors('numberOfShares')}" th:errors="${transactionDTO.numberOfShares}">Number of Shares Error</td>
            </tr>
        </div>
        <div class="form-group" th:object="(${transactionDTO})" th:remove="tag">
            <tr>
                <td><label for="buyDate">Transaction Date</label></td>
                <td><input type="text" class="form-control" id="buyDate" placeholder="Enter buy date (DD.MM.YYYY)" th:field="${transactionDTO.buyDate}" /></td>
                <td th:if="${#fields.hasErrors('buyDate')}" th:errors="${transactionDTO.buyDate}">Number of Shares Error</td>
            </tr>
        </div>
        <div class="form-group" th:object="(${transactionDTO})" th:remove="tag">
            <tr>
                <td><label for="sellDate">Transaction Date</label></td>
                <td><input type="text" class="form-control" id="sellDate" placeholder="Enter sell date (DD.MM.YYYY)" th:field="${transactionDTO.sellDate}" /></td>
                <td th:if="${#fields.hasErrors('sellDate')}" th:errors="${transactionDTO.sellDate}">Number of Shares Error</td>
            </tr>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
    </form>

</div>

</body>
</html>